<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ingredients</key>
	<array>
		<dict>
			<key>name</key>
			<string>Ranch Dressing</string>
			<key>type</key>
			<string>Condiment</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Soy Sauce</string>
			<key>type</key>
			<string>Condiment</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Vinegar</string>
			<key>type</key>
			<string>Condiment</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mustard</string>
			<key>type</key>
			<string>Condiment</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mayonnaise</string>
			<key>type</key>
			<string>Condiment</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ketchup</string>
			<key>type</key>
			<string>Condiment</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cayenne</string>
			<key>type</key>
			<string>Spice/Seasoning</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chive</string>
			<key>type</key>
			<string>Spice/Seasoning</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chili Powder</string>
			<key>type</key>
			<string>Spice/Seasoning</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Oregano</string>
			<key>type</key>
			<string>Spice/Seasoning</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Garlic Powder</string>
			<key>type</key>
			<string>Spice/Seasoning</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Vanilla</string>
			<key>type</key>
			<string>Spice/Seasoning</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cinnamon</string>
			<key>type</key>
			<string>Spice/Seasoning</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pork</string>
			<key>type</key>
			<string>Meat</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Turkey</string>
			<key>type</key>
			<string>Meat</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cooked Chicken</string>
			<key>type</key>
			<string>Meat</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ground Turkey</string>
			<key>type</key>
			<string>Meat</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chicken Thighs</string>
			<key>type</key>
			<string>Meat</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pork Chops</string>
			<key>type</key>
			<string>Meat</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hot Dog</string>
			<key>type</key>
			<string>Meat</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ham</string>
			<key>type</key>
			<string>Meat</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Beef Steak</string>
			<key>type</key>
			<string>Meat</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sausage</string>
			<key>type</key>
			<string>Meat</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bacon</string>
			<key>type</key>
			<string>Meat</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ground Beef</string>
			<key>type</key>
			<string>Meat</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cornmeal</string>
			<key>type</key>
			<string>Bakery</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Yeast</string>
			<key>type</key>
			<string>Bakery</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Flour Tortillas</string>
			<key>type</key>
			<string>Bakery</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cornstarch</string>
			<key>type</key>
			<string>Bakery</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bread Crumbs</string>
			<key>type</key>
			<string>Bakery</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Baking Soda</string>
			<key>type</key>
			<string>Bakery</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Baking Powder</string>
			<key>type</key>
			<string>Bakery</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bread</string>
			<key>type</key>
			<string>Bakery</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Flour</string>
			<key>type</key>
			<string>Bakery</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pasta</string>
			<key>type</key>
			<string>Bakery</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Brown Rice</string>
			<key>type</key>
			<string>Bakery</string>
		</dict>
		<dict>
			<key>name</key>
			<string>White Rice</string>
			<key>type</key>
			<string>Bakery</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Watermelon</string>
			<key>type</key>
			<string>Fruit</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cherry</string>
			<key>type</key>
			<string>Fruit</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pear</string>
			<key>type</key>
			<string>Fruit</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mango</string>
			<key>type</key>
			<string>Fruit</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cranberries</string>
			<key>type</key>
			<string>Fruit</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Raspberries</string>
			<key>type</key>
			<string>Fruit</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Peach</string>
			<key>type</key>
			<string>Fruit</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Raisin</string>
			<key>type</key>
			<string>Fruit</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Grapes</string>
			<key>type</key>
			<string>Fruit</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Coconut</string>
			<key>type</key>
			<string>Fruit</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Blueberries</string>
			<key>type</key>
			<string>Fruit</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pineapple</string>
			<key>type</key>
			<string>Fruit</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Strawberries</string>
			<key>type</key>
			<string>Fruit</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Lime</string>
			<key>type</key>
			<string>Fruit</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Banana</string>
			<key>type</key>
			<string>Fruit</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Apple</string>
			<key>type</key>
			<string>Fruit</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Lemon</string>
			<key>type</key>
			<string>Fruit</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Butter</string>
			<key>type</key>
			<string>Dairy</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Feta</string>
			<key>type</key>
			<string>Dairy</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Yogurt</string>
			<key>type</key>
			<string>Dairy</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mozzarella</string>
			<key>type</key>
			<string>Dairy</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cream Cheese</string>
			<key>type</key>
			<string>Dairy</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sour Cream</string>
			<key>type</key>
			<string>Dairy</string>
		</dict>
		<dict>
			<key>name</key>
			<string>American Cheese</string>
			<key>type</key>
			<string>Dairy</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cheddar</string>
			<key>type</key>
			<string>Dairy</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Parmesan</string>
			<key>type</key>
			<string>Dairy</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Milk</string>
			<key>type</key>
			<string>Dairy</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Eggs</string>
			<key>type</key>
			<string>Dairy</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kalamata Olives</string>
			<key>type</key>
			<string>Vegetable</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Black Olives</string>
			<key>type</key>
			<string>Vegetable</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Banana Peppers</string>
			<key>type</key>
			<string>Vegetable</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Jalapeno Peppers</string>
			<key>type</key>
			<string>Vegetable</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Artichoke Heart</string>
			<key>type</key>
			<string>Vegetable</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Brussel Sprout</string>
			<key>type</key>
			<string>Vegetable</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Horseradish</string>
			<key>type</key>
			<string>Vegetable</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Beets</string>
			<key>type</key>
			<string>Vegetable</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Eggplant</string>
			<key>type</key>
			<string>Vegetable</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Shallot</string>
			<key>type</key>
			<string>Vegetable</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Scallion</string>
			<key>type</key>
			<string>Vegetable</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sun Dried Tomato</string>
			<key>type</key>
			<string>Vegetable</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Squash</string>
			<key>type</key>
			<string>Vegetable</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mixed Vegetables</string>
			<key>type</key>
			<string>Vegetable</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kale</string>
			<key>type</key>
			<string>Vegetable</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Caulitflower</string>
			<key>type</key>
			<string>Vegetable</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cabbage</string>
			<key>type</key>
			<string>Vegetable</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Asparagus</string>
			<key>type</key>
			<string>Vegetable</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Frozen Vegetables</string>
			<key>type</key>
			<string>Vegetable</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cilantro</string>
			<key>type</key>
			<string>Vegetable</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Zucchini</string>
			<key>type</key>
			<string>Vegetable</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Avocado</string>
			<key>type</key>
			<string>Vegetable</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pickle</string>
			<key>type</key>
			<string>Vegetable</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sweet Potato</string>
			<key>type</key>
			<string>Vegetable</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cucumber</string>
			<key>type</key>
			<string>Vegetable</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Red Onion</string>
			<key>type</key>
			<string>Vegetable</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Salad Greens</string>
			<key>type</key>
			<string>Vegetable</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Basil</string>
			<key>type</key>
			<string>Vegetable</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Parsley</string>
			<key>type</key>
			<string>Vegetable</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Broccoli</string>
			<key>type</key>
			<string>Vegetable</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Corn</string>
			<key>type</key>
			<string>Vegetable</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Spinach</string>
			<key>type</key>
			<string>Vegetable</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mushroom</string>
			<key>type</key>
			<string>Vegetable</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Green Beans</string>
			<key>type</key>
			<string>Vegetable</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ginger</string>
			<key>type</key>
			<string>Vegetable</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chili Pepper</string>
			<key>type</key>
			<string>Vegetable</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Celery</string>
			<key>type</key>
			<string>Vegetable</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rosemary</string>
			<key>type</key>
			<string>Vegetable</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Black Pepper</string>
			<key>type</key>
			<string>Spice/Seasoning</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Orange</string>
			<key>type</key>
			<string>Fruit</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chicken Breasts</string>
			<key>type</key>
			<string>Meat</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Carrot</string>
			<key>type</key>
			<string>Vegetable</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Garlic</string>
			<key>type</key>
			<string>Vegetable</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Onion</string>
			<key>type</key>
			<string>Vegetable</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tomato</string>
			<key>type</key>
			<string>Vegetable</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bell Pepper</string>
			<key>type</key>
			<string>Vegetable</string>
		</dict>
	</array>
</dict>
</plist>
